
@bit:registry=https://node.bit.dev
//node.bit.dev/:_authToken=e555be22-2b28-40f6-aacd-8a5da95758cf
always-auth=true

@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=41A609F0-C5B6-4F13-8482-C17B0A6061A2
